//IMAGE PAGE RESTAURANT
.picture-restaurant{
    overflow: hidden;
    height: 320px;
        &__img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center bottom;
    }
}

//MENU PAGE RESTAURANT
.restaurant-page-grey-background{
    position: relative;
    background-color: $color-background;
    border-radius: 45px 45px 0px 0px;
    margin-top:-50px;
    padding-bottom:10px;
}

.restaurant-page-menu{
    margin: $base-margin;
    &__title{
        font-family: $second-font;
        font-size: 1.75rem;
        margin:0;
        padding-top: 20px;
    }
    .hoverheart:hover{
        .hoverheart__content-solid {
            opacity: 1;
            transition: .3s ease-in-out;
        }
        .hoverheart__content-light{
            opacity: 0;
            transition: .3s ease-in-out;
        }
    }
    .hoverheart__content-solid{
        font-size: 1.5rem;
        position:absolute;
        right: 25px;
        top: 30px;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
    }
    .hoverheart__content-light{
        font-size: 1.5rem;
        position:absolute;
        right: 25px;
        top: 30px;
        opacity: 1;
    }
}
.page-menu{
    &__title{
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: $size-subtitle;
        font-weight: $weight-subtitle;
        margin:20px 0px 8px 0px;
        &::after{
            background-color: $turquoise;
            margin:0;
            height: 3px;
            width: 40px;
        }
    }
}
.page-menu{
    display: flex;
    flex-direction: column;
    &-insert{
        margin: 0 15px 15px 0;
        background: white;
        height: 70px;
        width: 100%;
        border-radius: 20px;
        box-shadow: $soft-grey;
        position: relative;
        overflow: hidden;
        &:hover .page-menu-insert__subtitle{
            width: calc(100% - 65px);
            transition: width .5s ease-in-out;
        }
        &:hover .page-menu-insert__check{
            transform: translateX(0px);
            transition: .5s ease-in-out;
            }
        &:hover .page-menu-insert__checkcontent{
            transform: rotate(360deg);
            transition: .5s ease-in-out ;
            }
    }
    &-insert__title{
        @include title
        }
    &-insert__subtitle{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
        transform-origin: left 50%;
        transition-duration: .5s;
    }
    &-insert__text{
        @include subtitle ($size: 0.85rem);
        white-space:nowrap;
        overflow:hidden;
        text-overflow: ellipsis;        
        }
    &-insert__price{
        margin: 0;
        font-weight: bold;
        padding-left: 10px;
        width:50px;
    }
    &-insert__check{
        position: absolute;
        background-color: $turquoise;
        top: 0;
        bottom:0;
        right:0;
        width: 65px;
        transform-origin: right 50%;
        border-radius: 0px 20px 20px 0px;
        transform: translateX(65px);
        overflow: hidden;
        transition-duration: .5s;
    }
    &-insert__checkcontent{
        position:absolute;
        left: 20px;
        top: 25px;
        font-size: 1.5rem;
        transform: rotate(0deg);
        color:white;
        opacity: 1;
    }
}

.page-menu__title {
    animation: SlideDown .4s ease-in-out;
}

.page-menu > :nth-of-type(1){
    animation: SlideDown .6s ease-in-out;
}

.page-menu > :nth-of-type(2){
    animation: SlideDown .8s ease-in-out;
}

.page-menu > :nth-of-type(3){
    animation: SlideDown 1s ease-in-out;
}

@keyframes SlideDown {
    from {
        transform: translateY(70px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

