//COLORS 
$violet: #9356DC;
$pink: #FF79DA;
$turquoise: #99E2D0;
$dark-grey: #636363cc;
$color-background: #ececec;
$soft-grey: #d3d3d3;

//GRADIENTS
$gradient: linear-gradient($pink, $violet);
$gradient2: linear-gradient($violet, lighten($violet, 10));

//MARGES
$base-margin: 0px 20px;

//SHADOWS
$shadow: 0 2px 4px $dark-grey;
$shadow-soft: 2px 2px 7px $soft-grey;

//FONTS 
$main-font: 'Roboto', sans-serif;
$second-font: 'Shrikhand', cursive;

//WEIGHTS & SIZES FONTS 
$weight-title: bold;
$weight-subtitle: normal;
$size-title: 1.5rem;
$size-subtitle: 1rem;